# dependencies
node_modules/

# next build output
.next/

# hardhat
hardhat/artifacts/
hardhat/cache/

# logs
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# uploads (if your app stores uploads here)
frontend/public/uploads/
